.message{
    position: sticky;
    top:0;
    margin:0 auto;
    max-width: 3050px;
    background-color: #f4eeef;
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    gap:1.5rem;
    color: red;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 123.5%;
 }