* Navbar */
.navbar.default-layout {
  font-family: "roboto", sans-serif;
  background: #fff;
  transition: background 0.25s ease;
  -webkit-transition: background 0.25s ease;
  -moz-transition: background 0.25s ease;
  -ms-transition: background 0.25s ease; }
  .navbar.default-layout .navbar-brand-wrapper {
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease; 
    width: 250px;
    height: 90px; }
    .navbar.default-layout .navbar-brand-wrapper .navbar-brand {
      color: #ffffff;
      font-size: 1.5rem;
      line-height: 48px;
      margin-right: 0;
      padding: 0.25rem 0;
      display: flex; }
      .navbar.default-layout .navbar-brand-wrapper .navbar-brand:active, .navbar.default-layout .navbar-brand-wrapper .navbar-brand:focus, .navbar.default-layout .navbar-brand-wrapper .navbar-brand:hover {
        color: #424546; }
      .navbar.default-layout .navbar-brand-wrapper .navbar-brand img {
        width: 30px;
        max-width: 100%;
        margin: auto;
        vertical-align: middle; }
    .navbar.default-layout .navbar-brand-wrapper .brand-logo-mini {
      display: block; }
      .navbar.default-layout .navbar-brand-wrapper .brand-logo-mini img {
        width: 50px;
        max-width: 100%;
        margin: auto;
        vertical-align: middle;  }
  .navbar.default-layout .navbar-menu-wrapper {
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -ms-transition: width 0.25s ease;
    color: #001737;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 250px);
    height: 90px;
    box-shadow: 0 4px 16px 0 rgba(67, 71, 74, 0.33); }
    @media (max-width: 991px) {
      .navbar.default-layout .navbar-menu-wrapper {
        width: calc(100% - 70px); } }
    .navbar.default-layout .navbar-menu-wrapper .navbar-toggler {
      border: 0;
      color: inherit; } 
    .navbar.default-layout .navbar-menu-wrapper .navbar-nav {
      flex-direction: row;
      align-items: center; }
      .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item {
        margin-left: 1rem; }
        @media (max-width: 992px) {
          .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item {
            margin-left: 10px;
            margin-right: 0px; } }
        .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
          color: inherit;
          font-size: 15px;
          vertical-align: middle; }
          @media (max-width: 767px) {
            .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
              margin-left: 0.5rem;
              margin-right: 0.5rem; } }
          .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i {
            font-size: 1.25rem;
            vertical-align: middle;
            margin-right: 0; }
        .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item.user-dropdown {
          margin-left: 35px; }
          .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item.user-dropdown:before {
            position: relative;
            top: 2px;
            font-size: 20px;
            color: grey; }
          .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item.user-dropdown .dropdown-menu {
            min-width: 250px;
            margin-top: 9px; }
            .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item.user-dropdown .dropdown-menu .dropdown-header {
              padding: 20px; }
            .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item.user-dropdown .dropdown-menu .dropdown-item {
              padding: 10px 15px; }
          .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item.user-dropdown .dropdown-toggle:after {
            position: relative;
            top: 50%; } 
      @media (min-width: 992px) {
        .navbar.default-layout .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
          margin-left: auto; } }

@media (max-width: 991px) {
  .navbar.default-layout {
    flex-direction: row; }
    .navbar.default-layout .navbar-brand-wrapper {
      width: 70px; }
      .navbar.default-layout .navbar-brand-wrapper .brand-logo {
        display: none; }
      .navbar.default-layout .navbar-brand-wrapper .brand-logo-mini {
        display: inline-block; }
  .navbar-collapse {
    display: flex;
    margin-top: 0.5rem; } }
